body {
	text-align: center;
	font-size: 20pt;
	color: #3B3B3B;
	font-family: "Baskerville";
}

a:visited {
	color: #D3545D;
}

h1#mainTitle {
	color: #2E2E2E;
}

div#mainWrapper {
	margin-top:5%;
}

input#query {
	width: 700px;
	font-size: 90%;
	font-family: monospace;
	color: green;
}

input#submit {
	font-size: 300%;
}

p#tagline2 {
	font-size: 80%;
}

p#examples {
	font-size: 70%;
}

div#createInstructions {
	font-size: 60%;
	margin:20px auto;
	padding:20px;
	width:650px;
	background-color: #FCFF99;
	color: #111;
	font-weight: bolder;
	border-radius: 20px;
	-moz-border-radius: 20px;
}

div#createInstructions blockquote {
	border: red 1px dotted;
	color: green;
	font-family: monospace;
	text-align: left;
}

div#poweredBy {
	margin-top:20px;
}

#footer {
	font-size:55%;
}