<html>
<head>
	<title>awebshell</title>

	<link rel="stylesheet" type="text/css" href="stylesheet/index.css">

	<link href="opensearch.xml" title="awebshell" type="application/opensearchdescription+xml" rel="search"></link>
	
	{% include "stats.html" %}
</head>
<body>

	<div id="mainWrapper">

		<h1 id="mainTitle"><img src="/image/logo.png" alt="awebshell" /></h1>
		
		<form action="/parse/" method="get" accept-charset="utf-8">
			<p><input type="text" name="q" value="{{tryAgain}}" id="query" 
							placeholder="Enter command here and hit return/go on keyboard.">
		</form>

		<p id="tagline">Search like you mean it.</p>
		<p id="tagline2">Use commands to directly search nearly any site, saving time and trees!</p>

		<p id="examples">
			<span>Try it out yourself: </span>
			<a href="/parse/wp+search+engine">wp (Wikipedia)</a> | 
			<a href="/parse/g awebshell.appspot.com">g (Google)</a> |
			<a href="/parse/am oreilly">am (Amazon)</a>
		</p>
		<p>
			<span> Use the <a href="/ls/">ls</a> command to find more.</span>
		</p>
		<div id="createInstructions">
			You can create more public commands by using the 'create' command like this:
			<blockquote>create &lt;command&gt; &lt;url&gt;</blockquote>
			Optionally add %s to the url where the search term(s) should be replaced.
		</div>

		<div id="footer">
			<span id="copyright">&copy; {{currentYear}} AllStruck </span><br/>
			<span id="support"><a href="https://groups.google.com/forum/#!forum/awebshell">Support</a></span> | 
			<span id="apacheLicense">Licensed under the Apache License</span> | 
			<span id="githubRepo"><a href="https://github.com/AllStruck/awebshell">Source code available on GitHub</a></span>
			<div id="poweredBy">
				<img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine" />
			</div>
		</div>

		<a href="https://github.com/allstruck/awebshell/"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png" alt="Fork me on GitHub"></a>
	</div>

</body>
</html>


