<html>
<head>
	<title>awebshell - ls: List commands</title>

	<link rel="stylesheet" type="text/css" href="/stylesheet/ls.css">

	{% include "stats.html" %}
</head>
<body>
	<h1><a href="/"><img src="/image/logo.png" alt="awebshell" width="250px"/></a> - list commands</h1>
	<ul id="commandsListing">
	{% for command in commands %}
		<li class="commandWrapper">
			<span class="commandName">{{ command.name }}</span>
			<ul class="commandDescription">
				<li><span class="bold">Search String:</span> <span class="searchString">{{ command.searchString }}</span>
				<li><span class="bold">Description:</span>{% if command.description == '' %} None {% else %} {{ command.description }}{% endif %}</li>
			</ul>
		</li>
	{% endfor %}

	<div id="footer">
		© {{currentYear}} AllStruck
</body>
</html>