<html>
<head>
	<title>awebshell - ls: List commands</title>

	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-34105964-1']);
	  _gaq.push(['_setDomainName', 'awebshell.appspot.com']);
	  _gaq.push(['_setAllowLinker', true]);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>	
</head>
<body>
	<h1><a href="/">awebshell</a> - list commands</h1>
	<ul>
	{% for command in commands %}
		<li>{{ command.name }} => {{ command.searchString }}
			<ul>
				<li><b>Description:</b> {{ command.description }}</li>
			</ul>
		</li>
	{% endfor %}
</body>
</html>